<!DOCTYPE html>
<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <h3>Help us know more about your organization!</h3>
                    <form action="" method="POST">
                        <div class="form-group">
                            <label for="website">Website:</label>
                            <input type="text" class="form-control" id="website" placeholder="Enter your website" name="website" required/>
                        </div>
                        <div class="form-group">
                            <label for="size">Company size</label>
                            <input type="number" class="form-control" id="size" placeholder="Enter company size" name="experience" required/>
                        </div>
                        <div class="form-group">
                            <label for="description">Company Description:</label>
                            <input type="text" class="form-control" id="description" placeholder="Enter company description" name="description" required/>
                        </div>
                      
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
