<!DOCTYPE html>
<html>
  <%- include('components/head') -%>
  <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/moment.css" />
  <body>
    <%- include('components/navbar') -%>
    <div class="landing-main">
      <!-- Banner -->
      <section id="banner">
        <div class="inner">
          <h2 class="major special">
            <span class="landing-headline">
              Looking for candidates that rightly match your job requirements? Let AI handle it for you.
              <br>
              <br>
              Our customers spend around 50% less time screening candidates. Instant and automated. The no-review pre-screen.
            </span>
          </h2>
          <!--<p>to organizations adopting Opensource</p>-->
          <ul class="actions special stacked">
            <li>
              <a href="/account/google/" id="loginButton" class="button primary large">
                <span class="icon solid brands fa-github"></span>
                Login with Google
              </a>
            </li>
            <li>
              <a href="#one"
                ><span class="icon solid major fa-angle-down"></span
              ></a>
            </li>
          </ul>
        </div>
      </section>

      <!-- One -->
      <section id="one" class="wrapper alt style2"></section>

      <!-- Two -->
      <section id="two" class="wrapper alt">
        <section class="spotlight">
          <div class="image"><img src="images/1.png" alt="" /></div>
          <div class="content">
            <h3 class="major subheadline">
              <span class="icon solid major fa-plug"></span>
              Saves Precious Time
            </h3>
            <p>
              Does your team spend too much time screening candidates? 
              Let it get back to doing what they do best - building the product - and let automation do the tedious work for you.
            </p>
          </div>
        </section>
        <section class="spotlight">
          <div class="image"><img src="images/2.png" alt="" /></div>
          <div class="content">
            <h3 class="major subheadline">
              <span class="icon solid major fa-ticket-alt"></span>
              Fast and relevant
            </h3>
            <p>
              Our platform lets you filter developers by basic technical skills that developers use everyday. 
              This is way faster than a phone pre-screen, more relevant than a resume stuffed full of buzzwords.
            </p>
          </div>
        </section>
        <section class="spotlight">
          <div class="image"><img src="images/3.png" alt="" /></div>
          <div class="content">
            <h3 class="major subheadline">
              <span class="icon solid major fa-ticket-alt"></span>
              Applicant approved
            </h3>
            <p>
              Technical candidates love our platform. 
              Apply-by-AI is not just fast, it is way more fun than sending plain emails. 
              We understand the tedious part of uploading a resume and managing one and help you offload it to your platform.
            </p>
          </div>
        </section>
      </section>

      <!-- Three -->
      <section id="three" class="wrapper style1 special">
        <div class="inner narrow">
          <h3 class="major special">
            Apply-by-AI is the engine of hope & innovation
          </h3>
          <p>
            Behind Apply-by-AI is a distributed team of developers, designers &
            thinkers who are unreasonably hopeful about a brighter future. We believe
            in quality over quantity.
          </p>
          <ul class="actions special">
            <li><a href="#" class="button primary large">Get started</a></li>
          </ul>
        </div>
      </section>
    </div>
    <div id="notify_message" class="notify_message-success"></div>
  </body>

  <script src="scripts/vendor/breakpoints.min.js"></script>
  <script src="scripts/vendor/browser.min.js"></script>
  <script src="scripts/vendor/classie.js"></script>
  <script src="scripts/vendor/main.js"></script>
  <script src="scripts/vendor/jquery.scrolly.min.js"></script>
  <script src="scripts/util.js"></script>
</html>
