<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Apply by AI</title>
  <link rel="icon" href="images/logo/logo.png" />

  <link rel="stylesheet" href="stylesheets/vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/vendors/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="stylesheets/vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="stylesheets/vendors/linericon/style.css">
  <link rel="stylesheet" href="stylesheets/vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="stylesheets/vendors/owl-carousel/owl.carousel.min.css">

  <link rel="stylesheet" href="stylesheets/land.css">
</head>
<body>
  <!--================Header Menu Area =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container box_1620">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href="#"><img src="images/logo/apply-by-ai.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          </div> 
        </div>
      </nav>
    </div>
  </header>
  <!--================Header Menu Area =================-->

  <!--================ Hero sm Banner start =================-->      
  <section class="hero-banner hero-banner--sm mb-30px">
    <div class="container">
      <div class="hero-banner--sm__content">
        <h1>Think recruitment? Think Apply-By-AI!</h1>
        <h5>Looking for candidates that rightly match your job requirements? Let AI handle it for you. <br>
        Our users spend around 50% less time screening candidates. Instant and automated. The no-review pre-screen.
        </h5>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
        <br>
        <br>
        <a href="/account/google/" class="button button-header bg">Candidate Login</a>
        <br>
        <br>
        <a href="/account/company/login/" class="button button-header md">Organization Login</a> 
        </nav>
      </div>
    </div>
  </section>
  <!--================ Hero sm Banner end =================-->

  
  <!--================ Offer section start =================-->      
  <section class="section-margin">
    <div class="container">
      <div class="section-intro pb-85px text-center">
        <h2 class="section-intro__title">What We Offer</h2>
        <p class="section-intro__subtitle">
        Our solution is aimed at dolving the problems of recruitment and job seeking. 
        Our system selects candidates on the basis of their qualifications and skills as well as their overall personality in accordance to the job profile. 
        We believe it will make the recruiting game a lot more easier and more inclusive.
        </p>
      </div>

      <div class="row">
        <div class="col-lg-6">

          <div class="row offer-single-wrapper">
            <div class="col-lg-6 offer-single">
              <div class="card offer-single__content text-center">
                <span class="offer-single__icon">
                  <i class="ti-timer"></i>
                </span>
                <h4>Saves Precious Time</h4>
                <p>
                Does your team spend too much time screening candidates? 
              Let it get back to doing what they do best - building the product - and let automation do the tedious work for you.
              </p>
              </div>
            </div>
            
            <div class="col-lg-6 offer-single">
              <div class="card offer-single__content text-center">
                <span class="offer-single__icon">
                  <i class="ti-bolt"></i>
                </span>
                <h4>Fast and relevant</h4>
                <p>
                Our platform lets you filter developers by basic technical skills that developers use everyday. 
              This is way faster than a phone pre-screen, more relevant than a resume stuffed full of buzzwords.
              </p>
              </div>
            </div>
          </div>

          <div class="row offer-single-wrapper">
            <div class="col-lg-6 offer-single">
              <div class="card offer-single__content text-center">
                <span class="offer-single__icon">
                  <i class="ti-medall"></i>
                </span>
                <h4>Reduces bias in judgments</h4>
                <p>Our metohology perpetuates as little inequity as possible. Every candidate os given a fair chance.</p>
              </div>
            </div>
            
            <div class="col-lg-6 offer-single">
              <div class="card offer-single__content text-center">
                <span class="offer-single__icon">
                  <i class="ti-search"></i>
                </span>
                <h4>Helps find the right candidate</h4>
                <p>
                Our candidate selection process incorporates a combination of both skills and personality to score a candidate. 
                Thus, it paves a way for fully automated, hassle-free hiring.
                </p>
              </div>
            </div>
          </div>

        </div>
        <div class="col-lg-6">
          <div class="offer-single__img">
            <img class="img-fluid" src="images/offer.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ Offer section end =================-->

  <script src="vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="js/jquery.ajaxchimp.min.js"></script>
  <script src="js/mail-script.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
