<!DOCTYPE html>
<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function(){
            
                var addButton = $('.add_button'); //Add button selector
                var wrapper = $('.field_wrapper'); //Input field wrapper
               
                //Once add button is clicked
                $(addButton).click(function(e){
                    //Check maximum number of input fields
                    e.preventDefault();
                     
                        $(wrapper).append(  '<div><a href="#" class="remove_field">Remove</a><div><label for="company">Company:</label><input type="text" class="form-control" placeholder="Company Name" name="company[] "required /></div> <br><div class="form-group"><label for="role">Role:</label><input type="text" class="form-control" id="role" placeholder="Enter your job role" name="role[] required /"></div><div class="form-row"><div class="form-group col-md-6"><label for="startDate">From:</label><input type="date" name="startDate[] " class="form-control" id="startDate" required /></div><div class="form-group col-md-6"><label for="endDate">To:</label><input type="date" name="endDate[]" class="form-control" id="endDate" required /></div></div><div class="form-group"><label for="summary">Job Description:</label><textarea class="form-control" id="summary" placeholder="Enter your job description" name="summary[]" required></textarea></div></div>')
                      
                    
                });
                
                //Once remove button is clicked
                $(wrapper).on('click', '.remove_field', function(e){
                    e.preventDefault();
                    $(this).parent('div').remove(); //Remove field html
                  
                });
                var addButton1 = $('.add_button1'); //Add button selector
                var wrapper1 = $('.field_wrapper1'); //Input field wrapper
               
                //Once add button is clicked
                $(addButton1).click(function(e){
                    //Check maximum number of input fields
                    e.preventDefault();  
                        $(wrapper1).append(  ' <div><a href="#" class="remove_field1">Remove</a><div><label for="institution">Institution:</label><input type="text" class="form-control" placeholder="University/School Name" name="institution[]" required / ></div><br><div class="form-group"><label for="studyType">Degree type:</label><input type="text" class="form-control" id="studyType" placeholder="Enter your Degree type (eg. Masters)" name="studyType[]" required /></div><div class="form-group"><label for="area">Stream/ Major:</label><input type="text" class="form-control" id="area" placeholder="Enter your specialization" name="area[]" required /></div><div class="form-row"><div class="form-group col-md-6"><label for="startDate">From:</label><input type="date" name="startDate[]" class="form-control" id="startDate" required /></div><div class="form-group col-md-6"><label for="endDate">To:</label><input type="date" name="endDate[]" class="form-control" id="endDate" required /></div></div><div class="form-group"><label for="gpa">CGPA:</label><input type="text" class="form-control" id="gpa" placeholder="Enter your CGPA" name="gpa[]" required /></div></div></div>')
                      
                    
                });
                
                //Once remove button is clicked
                $(wrapper1).on('click', '.remove_field1', function(e){
                    e.preventDefault();
                    $(this).parent('div').remove(); //Remove field html
                  
                });
                var addButton2 = $('.add_button2'); //Add button selector
                var wrapper2 = $('.field_wrapper2'); //Input field wrapper
               
                //Once add button is clicked
                $(addButton2).click(function(e){
                    //Check maximum number of input fields
                    e.preventDefault();  
                        $(wrapper2).append('<div><a href="#" class="remove_field2">Remove</a><div><label for="title">Title:</label><input type="text" class="form-control" placeholder="Title" name="title[]" required /></div><br><div class="form-group"><label for="awarder">Issuer:</label><input type="text" class="form-control" id="awarder" placeholder="Enter the issuer" name="awarder[]" required /></div><div class="form-group"><label for="honorDate">Honor Date:</label><input type="date" name="honorDate[]" class="form-control" id="honorDate" required /></div><div class="form-group"><label for="summary">Summary:</label><textarea type="text" class="form-control" id="summary" placeholder="Describe your achievement" name="summary[]" required /></textarea></div></div></div>')
                      
                    
                });
                
                //Once remove button is clicked
                $(wrapper2).on('click', '.remove_field2', function(e){
                    e.preventDefault();
                    $(this).parent('div').remove(); //Remove field html
                  
                });
            });
        </script>

    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <form action="" method="POST">
                        <div class="form-group">
                            <label for="name">Full Name:</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter your name" name="name" required/>
                        </div>
                        <div class="form-group">
                            <label for="email">Email Address:</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter your email" name="email" required/>
                        </div>
                        <div class="form-group">
                            <label for="pwd">Phone:</label>
                            <input type="text" class="form-control" id="phone" placeholder="Enter your phone number" name="phone" required/>
                        </div>
                        <div class="form-group">
                            <label for="website">Personal Website | Portfolio:</label>
                            <input type="text" class="form-control" id="website" placeholder="Enter the URL of your website" name="website" required/>
                        </div>
                        <div class="form-group">
                            <label for="about">About Me:</label>
                            <input type="text" class="form-control" id="about" placeholder="A short bio describing you" name="website" required/>
                        </div>
                        <div class="form-group">
                            <label for="address">Address:</label>
                            <input type="text" class="form-control" id="address" placeholder="Enter your address" name="address" required/>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="city">City:</label>
                                <input type="text" name="city" class="form-control" id="city" placeholder="City" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="zip">Zip Code:</label>
                                <input type="text" name="zip" class="form-control" id="zip" placeholder="Zip Code" required />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="countryCode">Country Code:</label>
                                <input type="text" name="countryCode" class="form-control" id="countryCode" placeholder="Country Code" required />
                            </div>
                            <div class="form-group col-md-6">
                                <label for="region">Region</label>
                                <input type="text" name="region" class="form-control" id="region" placeholder="Region" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="workexp">Work Experience</label>
                            <div class="field_wrapper">
                                <div>
                                <div>
                                    <label for="company">Company:</label>
                                    <input type="text" class="form-control" placeholder="Company Name" name="company[]" required />
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="role">Role:</label>
                                    <input type="text" class="form-control" id="role" placeholder="Enter your job role" name="role[] " required />
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="startDate">From:</label>
                                        <input type="date" name="startDate[]" class="form-control" id="startDate" required />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="endDate">To:</label>
                                        <input type="date" name="endDate[]" class="form-control" id="endDate" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="summary">Job Description:</label>
                                    <textarea class="form-control" id="summary" placeholder="Enter your job description" name="summary[]" required ></textarea>
                                </div>
                            </div>
                        </div>
                            <button class="btn btn-default add_button">Add</button>
                        </div>

                        <div class="form-group">
                            <label for="workexp">Education</label>
                            <div class="field_wrapper1">
                                <div>
                                <div>
                                    <label for="institution">Institution:</label>
                                    <input type="text" class="form-control" placeholder="University/School Name" name="institution[]" required / >
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="studyType">Degree type:</label>
                                    <input type="text" class="form-control" id="studyType" placeholder="Enter your Degree type (eg. Masters)" name="studyType[]" required />
                                </div>
                                <div class="form-group">
                                    <label for="area">Stream/ Major:</label>
                                    <input type="text" class="form-control" id="area" placeholder="Enter your specialization" name="area[]" required />
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="startDate">From:</label>
                                        <input type="date" name="startDate[]" class="form-control" id="startDate" required />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="endDate">To:</label>
                                        <input type="date" name="endDate[]" class="form-control" id="endDate" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="gpa">CGPA:</label>
                                    <input type="text" class="form-control" id="gpa" placeholder="Enter your CGPA" name="gpa[]" required />
                                </div>    
                            </div>
                        </div>
                            <button class="btn btn-default add_button1">Add</button>
                        </div>

                        <div class="form-group">
                            <label for="workexp">Achievements</label>
                            <div class="field_wrapper2">
                                <div>
                                <div>
                                    <label for="title">Title:</label>
                                    <input type="text" class="form-control" placeholder="Title" name="title[]" required />
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="awarder">Issuer:</label>
                                    <input type="text" class="form-control" id="awarder" placeholder="Enter the issuer" name="awarder[]" required />
                                </div>
                                <div class="form-group">
                                    <label for="honorDate">Honor Date:</label>
                                    <input type="date" name="honorDate[]" class="form-control" id="honorDate" required />
                                </div>
                                <div class="form-group">
                                    <label for="summary">Summary:</label>
                                    <textarea type="text" class="form-control" id="summary" placeholder="Describe your achievement" name="summary[]" required /></textarea>
                                </div>    
                            </div>
                        </div>
                            <button class="btn btn-default add_button2">Add</button>
                        </div>
                        <div class="form-group">
                            <label for="skills">Skills:</label>
                            <input type="text" class="form-control" id="skills" placeholder="Enter your skills (eg. Python, JavaScript)" name="skills" required />
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
