
<!doctype html>
<html>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title>Resume</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/vendor/resume.css">
  <body>
  
  <div id="resume">
    	<header id="header" class="clear">
    		<div>
    			<h1 class="name">Richard Hendriks</h1>
    			<h2 class="label">Programmer</h2>
    		</div>
    		
    		<span class="location">
    			<span class="address">2712 Broadway St,</span> 
    			<span class="postalCode">CA 94115,</span> 
    			<span class="city">San Francisco,</span> 
    			<span class="region">California</span> 
    			<span class="countryCode">US</span> 
    		</span>
    		
    
    		<div id="contact">
    			<div class="website">
    				<span class="fa fa-external-link"></span>
    				<a target="_blank" target="_blank" href="http://richardhendricks.com">http://richardhendricks.com</a>
    			</div>
    			<div class="email">
    				<span class="fa fa-envelope-o"></span>
    				<a href="mailto:richard@valley.com">richard@valley.com</a>
    			</div>
    			<div class="phone">
    				<span class="fa fa-mobile"></span>
    				<a href="tel:(912) 555-4321">(912) 555-4321</a>
    			</div>
    		</div>
    
    		<div id="profiles">
    			<div class="item">
    				<div class="username">
    					<span class="fa fa-twitter twitter social"></span>
    					<span>neutralthoughts</span>
    				</div>
    			</div>
    			<div class="item">
    				<div class="username">
    					<span class="fa fa-soundcloud soundcloud social"></span>
    					<span class="url">
    						<a target="_blank" href="https://soundcloud.com/dandymusicnl">dandymusicnl</a>
    					</span> 
    				</div>
    			</div>
    		</div>
    	</header>
    
    	<section class="section main-summary">
    		<section>
    			<div><p>Richard hails from Tulsa. He has earned degrees from the University of Oklahoma and Stanford. (Go Sooners and Cardinals!) Before starting Pied Piper, he worked for Hooli as a part time software developer. While his work focuses on applied information theory, mostly optimizing lossless compression schema of both the length-limited and adaptive variants, his non-work interests range widely, everything from quantum computing to chaos theory. He could tell you about it, but THAT would NOT be a “length-limited” conversation!</p></div>
    		</section>
    	</section>
    
    <section class="section margin1">
    	<header>
    		<h2 class='section-title'>Skills</h2>
    	</header>
    	<section id="skills">
    		<div class="item">
    			<h3 class="name">
    				Web Development
    			</h3>
    			 
    			<div class="level master">
    				<em>Master</em>
    				<div class="bar"></div>
    			</div>
    			<ul class="keywords">
    				<li>HTML</li>
    				<li>CSS</li>
    				<li>Javascript</li>
    			</ul>
    		</div>
    		<div class="item">
    			<h3 class="name">
    				Compression
    			</h3>
    			 
    			<div class="level master">
    				<em>Master</em>
    				<div class="bar"></div>
    			</div>
    			<ul class="keywords">
    				<li>Mpeg</li>
    				<li>MP4</li>
    				<li>GIF</li>
    			</ul>
    		</div>
    	</section>
    </section>
    <section class="section">
      <header>
        <h2 class='section-title'>Work Experience <span class="item-count">(1)</span></h2>
      </header>
    
      <section id="work">
        <section class="work-item">
    
            <input id="work-item-0" type="checkbox" class="toggle-item" checked="checked" />
            <label for="work-item-0"></label>
    
    			<header>
    				<div class="position">CEO/President</div>
    				<div class="company">Pied Piper</div>
    				<div class="date">
    				  <span class="startDate">December 2013</span> 
    					<span class="endDate">- December 2014</span> 
    				</div>
    			</header>
    			
        	<span class="website">
        		<a target="_blank" href="http://piedpiper.com">http://piedpiper.com</a>
        	</span>      	<div class="item" id="work-item">
            <div class="summary">
              <p><p>Pied Piper is a multi-platform technology based on a proprietary universal compression algorithm that has consistently fielded high Weisman Scores™ that are not merely competitive, but approach the theoretical limit of lossless compression.</p></p>
            </div>
            <ul class="highlights">
                <li><p>Build an algorithm for artist to detect if their music was violating copy right infringement laws</p></li>
                <li><p>Successfully won Techcrunch Disrupt</p></li>
                <li><p>Optimized an algorithm that holds the current world record for Weisman Scores</p></li>
            </ul>
        	</div>
        </section>
      </section>
    </section>
    <section class="section">
      <header>
        <h2 class='section-title'>Volunteer</h2>
      </header>
      <section id="volunteer">
        <section class="volunteer-item">
    
            <input id="volunteer-item-0" type="checkbox" class="toggle-item" checked="checked" />
            <label for="volunteer-item-0"></label>
    
          <header>
            <div class="header-left">
              <div class="position">
                Teacher
              </div>
              <div class="organization">
                CoderDojo
              </div>
            </div>
            <div class="date">
              <span class="startDate">
              January 2012
              </span>
              <span class="endDate">
              - January 2013
              </span>
            </div>
          </header>
          <div class="website">
            <a target="_blank" href="http://coderdojo.com/">http://coderdojo.com/</a>
          </div>
          <div class="item">
            <div class="summary">
              <p><p>Global movement of free coding clubs for young people.</p></p>
            </div>
            <ul class="highlights">
              <li><p>Awarded 'Teacher of the Month'</p></li>
            </ul>
          </div>
        </section>
      </section>
    </section>
    <section class="section">
      <header>
        <h2 class='section-title'>Education <span class="item-count">(1)</span></h2>
      </header>
    
      <section id="education">
        <section class="education-item">
          <header>
            <div class="header-left">
              <div class="studyType">
                Bachelor
              </div>
              <div class="area">
                Information Technology
              </div>
              <div class="institution">
                University of Oklahoma
              </div>
            </div>
            <div class="date">
              <span class="startDate">
              2011
              </span>
              <span class="endDate">
              - 2014
              </span>
            </div>
          </header>
    
    
          <ul class="courses">
            <li>DB1101 - Basic SQL</li>
            <li>CS2011 - Java Introduction</li>
          </ul>
    
          <div class="item">
            <div class='gpa'>
              <strong> Grade:</strong> <span>4.0</span>
            </div>
          </div>
        </section>
      </section>
    </section>
    <section class="section">
      <header>
        <h2 class='section-title'>Awards</h2>
      </header>
      <section id="awards">
        <section class="award-item">
            <input id="award-item-0" type="checkbox" class="toggle-item" checked="checked" />
            <label for="award-item-0"></label>
    
          <header>
            <div class="header-left">
              <div class="title">
                Digital Compression Pioneer Award
              </div>
              <div class="awarder">
                Techcrunch
              </div>
            </div>
            <div class="date">
              2014
            </div>
          </header>
          
          <div class="item">
            <div class="summary">
              <p><p>There is no spoon.</p></p>
            </div>
          </div>
        </section>
      </section>
    </section>
    <section class="section">
      <header>
        <h2 class='section-title'>Publications</h2>
      </header>
      <section id="publications">
        <section class="publication-item">
            <input id="publication-item-0" type="checkbox" class="toggle-item" checked="checked" />
            <label for="publication-item-0"></label>
    
          <header>
            <div class="header-left">
              <span class="name">
              <span class="website">
              <a target="_blank" href="http://en.wikipedia.org/wiki/Silicon_Valley_(TV_series)">Video compression for 3d media</a>
              </span>
              </span>
              <span class="publisher">
              in Hooli
              </span>
            </div>
            <span class="date">
            1 October 2014
            </span>
          </header>
    
          <div class="item">  
            <div class="summary">
              <p><p>Innovative middle-out compression algorithm that changes the way we store data.</p></p>
            </div>
          </div>
        </section>
      </section>
    </section>
    <section class="section margin1">
      <header>
        <h2 class='section-title'>Languages</h2>
      </header>
      <section id="languages">
        <div class="display">
          <h3 class="language">
            English
          </h3>
          <div class="item">
            <div class="level fluency native speaker">
              <em>Native speaker</em>
              <div class="bar"></div>
            </div>
          </div>
        </div>
      </section>
    </section>
    <section class="section margin1">
      <header>
        <h2 class='section-title' class='section-title'>Interests</h2>
      </header>
      <section id="interests">
        <div class="item">
          <h3 class="name">
            Wildlife
          </h3>
          <ul class="keywords">
            <li>Ferrets</li>
            <li>Unicorns</li>
          </ul>
        </div>
      </section>
    </section>
    <section class="section">
      <header>
        <h2 class='section-title'>References</h2>
      </header>
      <section id="references">
        <div class="item">
          <blockquote class="reference">
            &#8220;&#32;It is my pleasure to recommend Richard, his performance working as a consultant for Main St. Company proved that he will be a valuable addition to any company.&#32;&#8221;
          </blockquote>
          <div class="name">
            Erlich Bachman
          </div>
        </div>
      </section>
    </section>

  </body>
</html>
